<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boac RHU</title>
    <link rel="stylesheet" href="/static/get-started-page.css">
</head>
<body>

    <div class="page-wrapper">
        <main class="hero">
            <div class="header-container">
                <img src="/image/logo.png" alt="Boac Logo" class="logo">
                
                <div class="title-button-group">
                    <h1 class="main-title">RHU BOAC Anti-Rabies Vaccine Reminder System</h1>
                    <button id="getStartedBtn" class="btn">Get Started</button>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p>Municipality of Boac, Marinduque &copy; 2026</p>
            </div>
        </footer>
    </div>

    <button id="getStartedBtn" class="primary-btn" onclick="window.location.href='login-page.html'">GET STARTED</button>
    <button id="getStartedBtn" class="primary-btn" onclick="window.location.href='/login'">GET STARTED</button>


    <script src="/static/get-started-page.js"></script>
</body>
</html>